<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HouseMapper">

	<select id="searchList" parameterType="string" resultType="hashmap">
		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where addr like '%'||#{search}||'%' or hname like '%'||#{search}||'%'
	</select>
	
	<select id="totalListBySearch" parameterType="string" resultType="int">
		select count(*)
		from house_info join house_price using(hcode)
		where addr like '%'||#{search}||'%' or hname like '%'||#{search}||'%'
	</select>
	
	<select id="retrieveNewItems" resultType="hashmap">
		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where registerdate > sysdate-3 
	</select>
	
	<select id="retrieveHotItems" resultType="hashmap">
		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where cntwish > (select max(cntwish) - 3 from house_info) 
		order by cntwish desc
	</select>
	
	<select id="listByFilter" parameterType="list" resultType="hashmap">
		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where htype in
		<foreach item="item" collection="list"  index="index" open="(" separator="," close=")">
			#{item}
		</foreach>  
		and
		rtype in
		<foreach item="item" collection="list"  index="index" open="(" separator="," close=")">
			#{item}
		</foreach>  
	</select>
	
	<select id="totalListByFilter" parameterType="list" resultType="int">
		select count(*)
		from house_info join house_price using(hcode)
		where htype in
		<foreach item="item" collection="list"  index="index" open="(" separator="," close=")">
			#{item}
		</foreach>  
		and
		rtype in
		<foreach item="item" collection="list"  index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	
	
	<!-- House 자세히보기 -->
   	<select id="houseRetrieve" parameterType="String" resultType="HouseInfoDTO">
   		select hcode, htype, rtype, hname, addr, coordX, coordY, area, whlflr, flr, room, batr
   			cntwish, himage, hetc, registerDate
   		from house_info
   		where hcode = #{hcode}
   	</select>
	
	
	
	<!-- 최근 본 House -->
	<select id="rcnList" parameterType="string" resultType="HouseRcnlistDTO">
   		select num,userid,hcode
   		from rcnlist
   		where userid = #{userid}
   	</select>
   	
   	
   	<insert id="rcnInsertAll" parameterType="arraylist">
    	insert all
    		<foreach item="item" collection="list" >
       		 	into rcnlist (num, userid, hcode)
       		 	values(#{item.num}, #{item.userid},#{item.hcode})
  			</foreach>
  			select * from dual
    </insert>
    
    
    
   	<delete id="rcnDelete" parameterType="list">
   		delete 
    	from rcnlist
    	<where>
    		num in
    		<foreach item="item" collection="list" open="(" separator="," close=")">
       		 	#{item}
  			</foreach>
    	</where>
   	</delete>
</mapper>




